.container {
  padding: 0 30px;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
}

.App-link {
  color: #61dafb;
}
